<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Territory Counter, <%= @user.name %></h1>
    <p>
      You have successfully signed up for an account with territorycounter.com,
      and your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To finish setting up your account, go to <%= @confirmation_url %> and complete the form.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>